

.footer{
   height: 400px;
}
.contain{
background-color: #0A337F;
height: 360px;
display: flex;
justify-content: space-around;
padding: 20px;
}

.f1{
width: 400px;
padding: 20px;
color: beige;
font-weight: 200;
}

.f2{
width: 400px;
border-right: 1px solid rgba(255, 255, 255, 0.308);
border-left: 1px solid rgba(255, 255, 255, 0.308);
padding: 20px;
color: antiquewhite;
}

.f3{
    width: 400px;
  font-size: 30px;
padding: 20px;
    color: aliceblue;
}
.social{
    
    width: 300px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    
}
.s1{
width: 64px;
height: 64px;
background: url(../../img/fb.png);
margin: 10px;
margin-bottom: 0;
}
.s2{
background: url(../../img/in.png);
    
width: 64px;
height: 64px;

margin: 10px;
margin-bottom: 0;


}
.s3{
background: url(../../img/git.png);
    
    
    margin: 10px;
    margin-bottom: 0;
    
width: 64px;
height: 64px;
}
.s4{
background: url(../../img/insta.png);
    
    
    margin: 10px;
margin-top: 0;    
width: 64px;
height: 64px;
}
.s5{
background: url(../../img/gog.png);
    
    
    margin: 10px;
margin-top: 0;    
    
width: 64px;
height: 64px;
}
.s6{
background: url(../../img/twi.png);
    
    
    margin: 10px;
    margin-top: 0;    
    
width: 64px;
height: 64px;
}
.copy{
    text-align: center;
    padding: 2px;
    margin-top: 5px;
    color: #0A337F;
    font-weight: 600;
}